@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC|Satisfy');

#wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
}

body {
  max-width: 960px;
  margin: 0 auto;
  font-size: 12px;
  font-family: "Playfair Display", serif;
  color: black;
  line-height: 1.5;
  background-image: url("bluebg.png");
  background-blend-mode: lighten;
  text-align: center;
}

h1 {
  width: 200px;
  font-family: "Satisfy", cursive;
  border: 4px double rgb(136,139,140);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#home img{
  margin-top: 30px;
  padding-top: 10px;
  border-radius: 50%;
  padding-bottom: 0px;
}

address p {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 4px;
}

#projects main {
  grid-gap: 20px;
}

ul {
  width: 300px;
  background: rgba(215,218,219,0.3);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding: 10px;
}

li {
  display: inline;
}

li:after {
  content:"\2217";
  padding: 0 5px;
}

li:last-child:after{
  content:"";
  padding: 0px;
}

a {
  color: rgb(173,80,118);
}

a:visited {
  color: rgb(99,94,160);
}

a:hover {
  color: rgb(62,116,160);
}

a:active {
  color: rgb(169,209,106);
}

h2 {
  font-family: "Playfair Display SC", serif;
  color: rgb(136,139,140);
  text-align:left;
}

h3 {
  color: rgb(164,175,178);
  text-align: left;
}

p{
  text-align: left;
}

#home header {
  text-align: center;
}

#home img {
  margin-top: 30px;
  padding-top: 10px;
  border-radius: 50%;
}

#experiences {
  float: left;
  border: 2px solid rgba(152,159,162,0.5);
  padding: 10px 30px;
  margin: 20px;
  background-color: rgba(251, 251, 251, 0.55);
}

#skills {
  float: right;
  border: 2px solid rgba(152,159,162,0.5);
  padding: 10px 30px;
  margin: 20px;
  background-color: rgba(251, 251, 251, 0.55);
}

#skills p {
  display: list-item;
  list-style-type: none;
  line-height: 0.8;
  text-align: left;
}

#education {
  border: 2px solid rgba(152,159,162,0.5);
  margin: 20px;
  padding: 10px 30px;
  background-color: rgba(251, 251, 251, 0.55);
  text-align:left;
}

#education h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#education p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#education article {
  padding-bottom: 20px;
}

#activities {
  border: 2px solid rgba(152,159,162,0.5);
  margin: 20px;
  padding: 10px 30px;
   background-color: rgba(251, 251, 251, 0.55);
  text-align: left;
}

#activities h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#activities p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#activities article {
  padding-bottom: 20px;
}

#melancholia img {
  float: left;
  margin: 0 40px 10px 0;
}

#melancholia p {
  padding: 10px;
  border: 2px;
  margin: 10px;
}

#enp {
  padding-top: 50px;
}

#projects .video {
  max-width: 500px;
  float: left;
  margin: 10px;
  padding: 20px;
}

#projects .text {
  max-width: 400px;
  margin: 10px;
  padding: 20px;
}
